#border, #wrapper {
				border-radius: 100%;
				overflow: hidden;
				width: 480px;
				height: 480px;
				position: absolute;
				top: 200px;
				left: 32%;
			}
			#border {
				box-shadow: 0 5px 30px rgba(0,0,0,0.3);
				border: 25px solid #eee;
				margin: -150px 0 0 -135px;
				z-index: 0;
			}
			#wrapper {
				border: 10px solid #eee;
				margin: -150px 0 0 -135px;
				z-index: 2;
			}
			#carousel img {
				max-width: 460px;
				max-height: 460px;
				display: block;
				float: left;
			}
			
			#manz-pager{
				width: 300px;
				margin: -15px 0 0 -150px;
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 1;
			}
			#manz-pager a{
				border: 5px solid #eee;
				border-radius: 100%;
				overflow: hidden;
				display: block;
				width: 100px;
				height: 100px;
				margin: 0 0 0 -30px;
				position: absolute;
				left: 50%;
				
				-webkit-transition: margin 0.5s ease;
				-moz-transition: margin 0.5s ease;
				transition: margin 0.5s ease;
			}
			#manz-pager a.thumb1 {
				top: 280px;
				margin-left: -310px;
			}
			#manz-pager a.thumb1.selected {
				margin-top: -20px;
				margin-left: -115px;
			}
			#manz-pager a.thumb2 {
				top: 420px;
				margin-left: -255px;
			}
			#manz-pager a.thumb2.selected {
				margin-top: -35px;
				margin-left: -85px;
			}
			#manz-pager a.thumb3 {
				top: 520px;
			}
			#manz-pager a.thumb3.selected {
				margin-top: -200px;
			}
			#manz-pager a.thumb4 {
				top: 420px;
				margin-left: 160px;
			}
			#manz-pager a.thumb4.selected {
				margin-top: -35px;
				margin-left: 25px;
			}
			#manz-pager a.thumb5 {
				top: 280px;
				margin-left: 210px;
			}
			#manz-pager a.thumb5.selected {
				margin-top: -20px;
				margin-left: 55px;
			}
/* GIRLS PAGER */
			#girls-pager {
				width: 300px;
				margin: -15px 0 0 -150px;
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 1;
			}
			#girls-pager  a {
				border: 5px solid #eee;
				border-radius: 100%;
				overflow: hidden;
				display: block;
				width: 100px;
				height: 100px;
				margin: 0 0 0 -30px;
				position: absolute;
				left: 50%;
				
				-webkit-transition: margin 0.5s ease;
				-moz-transition: margin 0.5s ease;
				transition: margin 0.5s ease;
			}
			#girls-pager a.thumb1 {
				top: 280px;
				margin-left: -310px;
			}
			#girls-pager a.thumb1.selected {
				margin-top: -20px;
				margin-left: -115px;
			}
			#girls-pager a.thumb2 {
				top: 420px;
				margin-left: -255px;
			}
			#girls-pager a.thumb2.selected {
				margin-top: -35px;
				margin-left: -85px;
			}
			#girls-pager a.thumb3 {
				top: 520px;
			}
			#girls-pager a.thumb3.selected {
				margin-top: -200px;
			}
			#girls-pager a.thumb4 {
				top: 420px;
				margin-left: 160px;
			}
			#girls-pager a.thumb4.selected {
				margin-top: -35px;
				margin-left: 25px;
			}
			#girls-pager a.thumb5 {
				top: 280px;
				margin-left: 210px;
			}
			#girls-pager a.thumb5.selected {
				margin-top: -20px;
				margin-left: 55px;
			}
						
			#donate-spacer {
				height: 100%;
			}
			#donate {
				border-top: 1px solid #999;
				width: 750px;
				padding: 50px 75px;
				margin: 0 auto;
				overflow: hidden;
			}
			#donate p, #donate form {
				margin: 0;
				float: left;
			}
			#donate p {
				width: 650px;
			}
			#donate form {
				width: 100px;
			}
