.product-img  button.btn, input.btn[type="submit"]{
	background: #fff;
	border: 2px dashed #CDCDCD;
	color: #CDCDCD;
	padding: ;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	display: inline-block;
}
.product-img input[type="text"]{
	background:#F9F9F9;
	border:0;
	margin-top:10px;
}
.pro-cat, .product-img {
	padding-left: 15px;
}
.product-add input{
	width:100%;
	display:inline-block;
}
.pro-cat, .product-img {
	padding-left: 15px;
}
.pro-cat input{
	right:0;
	padding-left:10px;
	margin-bottom:10px;
}
.product-img{
	padding-right:12px;
}



.product-price-box{
	padding-right:14px;
	width:100%;
	padding-left: 15px;
}
.product-price-box h4{
	width:10%;
	float:left;
	margin-top:5px;
}
.product-price-box input[type="number"]{
	width:30%;
	display:inline-block;
}
.product-price-box input[type="submit"]{
	width: 30%;
	height: 32px;
	display: inline-block;
	margin-top: -10px;
	margin-left: 25px;
}