@media all and (min-width: 220px) and (max-width: 767px) {
	#manz, #wrapper, #manz-pager{
		display:none;
	}
	#border{
		display:none;
	}
	#carousel img{
		display:none;
	}
	#manz-pager a.thumb1.selected, #girls-pager a.thumb1.selected, #manz-pager a.thumb2, #girls-pager a.thumb2{
		display:none;
	}
	.logo img{
		max-width:100px;
	}
	.slogan h2{
		font-size:30px;
	}
	
}
@media all and (min-width: 768px) and (max-width: 991px) {
	.search{
	float:right;
	margin-top:27px;
	overflow:hidden;
	}
	.search input{
		width:291px;
		height:40px;
		font-size:16px;
		padding-left:10px;
		border:0;
	}
	.search button{
		height:40px;
		width:100px;
		font-size:16px;
		border:0;
		float:right;
		text-transform:uppercase;
	}
}