/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
#main-menu{
	background:rgba(0,0,0,.5);
}
.menu .navbar-default{
	background:transparent;
	border:transparent;
}
.kinmu-logo{
	padding-top:0px;
	padding-left:0px;
}
.menu-gap-top{
	margin-top:50px;
}
.menutitle h4{
	text-transform:uppercase;
	position:relative;
}
.menutitle h4:after{
	position:absolute;
	content:"";
	width:50px;
	height:3px;
	background:#AC0223;
	bottom:-5px;
	left:50%;
	margin-left:-23px;
}
.menutitle img{
	border-radius:100%;
	padding-top:100px;
	margin-top:-77px;
}
.man-menu-cetagory{
	margin-top:20px;
}
.man-menu-cetagory h4{
	text-transform:uppercase;
	border-left:5px solid #AE0A27;
	margin-bottom:15px;
	padding-left:10px;
}
.man-menu-cetagory ul{}
.man-menu-cetagory ul li{
	list-style:none;
}
.man-menu-cetagory ul li a{
	text-decoration:none;
	text-transform: capitalize;
}
.man-right-add img{
	height:310px;
}
.cart-bar{
	margin-top:-30px;
}
.cart-bar img{
	width:30px;
	position:relative;
}
.cart-number{
	position:absolute;
	background:#AE0A27;
	color:#fff;
	width:22px;
	height:22px;
	border-radius:50%;
	right:20px;
	top:-30px;
}
.search-bar i{
	font-size:20px;
}
.search-bar input{
	padding-left:10px;
	display:none;
}
.menu>.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background:transparent;
	color:#AE0A27;
}
.navbar-default .navbar-nav>li>a{
	color:#fff;
}
.navbar-default .navbar-nav>li>a:hover{
	color:#AE0A27;
}
.cart-list-menu{
	max-width:285px;
	overflow:hidden;
}
.cart-list-menu a .cart-btn{
    text-align: center;
    color: #AB0323;
    padding: 10px 0;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
}

.cart-list-pic{
	width:30%;
	float:left;
	padding:5px 0;
}
.list-detail-cart{
	width:70%;
	float:right;
	padding-left:15px;
}
.list-detail-cart h5{
	margin-bottom:5px;
	margin-top:20px;
}