@media all and (min-width: 220px) and (max-width: 767px) {
	
	.logo img{
		max-width:100px;
	}
	.slogan h2{
		font-size:30px;
	}
	
	
} 
@media all and (min-width: 768px) and (max-width: 1169px){

}
@media all and (max-width: 991px)and (min-width: 768px) {
	
}
@media only screen and (min-width: 380px) and (max-width: 1169px) { 
  #manz, #wrapper, #manz-pager{
		display:none;
	}
	#border{
		display:none;
	}
	#carousel img{
		display:none;
	}
	#manz-pager a.thumb1.selected, #girls-pager a.thumb1.selected, #manz-pager a.thumb2, #girls-pager a.thumb2{
		display:none;
	}
	. round-slide{
		display:none;
	}
	.thumb1.selected,
	.thumb2.selected,
	.thumb3.selected,
	.thumb4.selected,
	.thumb5.selected{
		display:none;
	}
	.thumb1,
	.thumb2,
	.thumb3,.thumb4,
	.thumb5{
		display:none;
	}
	#manz, #wrapper, #manz-pager{
		display:none;
	}
	#border{
		display:none;
	}
	#carousel img{
		display:none;
	}
	#manz-pager a.thumb1.selected, #girls-pager a.thumb1.selected, #manz-pager a.thumb2, #girls-pager a.thumb2{
		display:none;
	}
    
}