*{
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding:0;
}
ul{
	margin:0;
	padding:0;
}

/* slider */
.single-slide .item{
	width:100%;
	overflow:hidden;
	position:relative;
	z-index:9;
	border-top:1px solid#666;
}
.single-slide .item{
	background:#000;
	padding-top:100px;
} 
.single-slide .item img{
	height:550px;
}
.single-slide .item h1{
	margin-top:220px;
}
.owl-theme .owl-nav.disabled + .owl-dots{
	margin-top:-30px;
	position:absolute;
	z-index:99;
	right:0;
}
.single-slide .owl-dots .owl-dot span{
	background:transparent;
	border: 1px solid #AB0323;
	border-radius:0;
	width:17px;
}
.single-slide .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background:#AB0323;
	border: 2px solid #AB0323;
}
.single-slide .slide-txt{
	position:absolute;
	top:50px;
	left:70px;
	color:#fff;
}
.slide-txt h1{
	font-size:20px;
	text-transform:uppercase;
	margin-top:100px;
}
.slide-txt span{
	text-transform:uppercase;
	font-size:20px;
	border-top:2px solid #AB0323;
	border-bottom:2px solid #AB0323;
	position:relative;
	text-align:center;
}
.slide-txt span:after{
	position:absolute;
	content:"";
	height:2px;
	width:2px;
	background:#AB0323;
	top:-5px;
	left:0;
	opacity:0;
	transition:all .4s;
}
.slide-txt span:before{
	position:absolute;
	content:"";
	height:2px;
	width:2px;
	background:#AB0323;
	bottom:-5px;
	right:0;
	opacity:0;
	transition:all .4s;
}
.slide .slide-txt:hover.slide-txt span:after,
.slide .slide-txt:hover.slide-txt span:before{
	width:100%;
	opacity:1;
}
.slide-txt a{
	padding:33px 20px;
	background:#AB0323;
	font-size:30px;
	text-decoration:none;
	color:#fff;
	border-radius:100%;
}
/************************
	Man Product section
*************************/
.pro-heading{
	padding:30px 0;
	margin-top:40px;
	overflow:hidden;
}

.pro-heading img{
	float:left;
	margin-right:20px;
	padding-top:20px;
	border-left:8px solid #AB0123;
	padding-left:10px;
}
.pro-heading h3{
	text-transform:uppercase;
	color:#000;
	padding-top:5px;
    font-family: 'Raleway', sans-serif;
	font-weight:bold;
}
.single-product{
	width:250px;
	height:285px;
	border:1px solid #AB0323;
	margin:20px auto;
	position:relative;
	overflow:hidden;
}
.single-product img{
	width:100%;
	height:100%;
}
.pro-price{
	position:absolute;
	background:rgba(0,0,0,.7);
	width:200px;
	height:200px;
	top:42px;
	left:25px;
	transition:.5s;
	opacity:0;
	cursor:pointer;
}
.pro-price h3{
	color: #AB0123;
    font-family: 'Raleway', sans-serif;
	font-weight:bold;
	font-size:35px;
	margin-top:20px;
}
.pro-price p{
	color:#fff;
	margin-bottom:30px;
}
.pro-price a{
	color:#fff;
	padding:15px 20px;
	background:#AB0123;
	border:1px solid #AB0123;
	transition:all .5s;
	text-decoration:none;
	border-radius:3px;
}
.pro-price a:hover{
	background:rgba(0,0,0,.6);
}
.single-product:hover .pro-price{
	border-radius:100%;
	border:8px solid #AB0123;
	opacity:1;
}
/************************
	banner 1 section
*************************/

.slogan {
    background: url(../img/menu/05.jpg)no-repeat, url(../img/menu/03.jpg)no-repeat;
    background-position: left, right;
    background-size: 50% 300px, 50% 300px;
    height: 300px;
    margin-top: 100px;
}
.sub-over {
    background: url(../img/download.png);
    height: 300px;
}
.sbg-txt{
	overflow:hidden;
}
.sbg-txt h2 {
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 250px;
    font-size: 50px;
    position: relative;
}
/************************
	subscribe 1 section
*************************/
.subscribe {
    background: url(../img/menu/05.jpg)no-repeat, url(../img/menu/04.jpg)no-repeat;
    background-position: left, right;
    background-size: 50% 300px, 50% 300px;
    height: 300px;
    margin-top: 100px;
}
.sbg-txt input, .sbg-txt button{
	margin-top:120px;
	border:none;
	font-weight:bold;;
}
.sbg-txt input{
	width:350px;
	height:45px;
	padding-left:20px;
	text-transform:capitalize;
}
.sbg-txt button{
	width:100px;
	height:45px;
	text-transform:capitalize;
	background:#AB0123;
	color:#fff;
}
/************************
	Footer section
*************************/
footer{
	background:#000;
	padding:40px 0;
}
.foter-menu{}
.foter-menu h3{
	color:#fff;
	border-bottom:1px solid #AB0123;
	padding-bottom:20px;
	text-transform:capitalize;
}
.foter-menu ul{
	padding-top:20px;
}
.foter-menu ul li{
	list-style:none;
}
.foter-menu ul li a{
	text-decoration:none;
	color:#dedede;
	text-transform:capitalize;
}
.foter-menu ul li a i{
	margin-right:15px;
}
.copy-r{
	background:#101010;
	padding:20px 0;
}
.copy-r p{
	margin:0;
	padding:0;
}
/************************
	Modal section
*************************/

.mod-logo{
	float:left;
}
.mod-heading{
	padding-top:0;
}
.mod-heading h4{
	margin-top:14px;
}
.mod-heading span{
	font-size:40px;
}
/* modal slide */
.small-modal-slide .item{
	width:100px;
	height:100px;
}
.small-modal-slide .item img{
	width:96px;
	margin:0 auto;
	height:98px;
	padding:0 2px;
	border:1px solid #AB0123;
}
.dlc i {
    float: left;
    font-size: 30px;
    color: #AB0123;
    width: 38px;
}
.dlc h3 {
    font-size: 18px;
    line-height: 35px;
	text-transform:capitalize;
}
.cart-list h4{
	font-size:14px;
	font-weight:bold;
	text-transform:capitalize;
}
.cart-list .row{
}
.cart-price h5, .cart-quantity h5, .cart-plus h5, .cart-total h5{
	line-height:57px;
}
.product-detail{
	overflow:hidden;
}
.cart-quantity h5{
	font-size:18px;
	margin:0 4px;
	font-weight:bold;
	line-height:78px;
}
.rev-txt{
	float:left;
	padding-right:15px;
}
.rev-txt h5{
	text-transform:capitalize;
}
.rev-ico{}
.rev-ico i{
	padding-top:12px;
	cursor:pointer;
	padding-right:2px;
}
.rev-ico i:hover{
	color:#AB0123;
}
.reg-price{
	text-transform:capitalize;
}
.reg-price strike{
	color:#666;
}

.reg-pric h4{
	float:left;
	margin-right:20px;
}
.pro-quan{
	float:left;
	padding-top:15px;
	overflow:hidden;
}
.pro-quan i{
	border:1px solid #666;
	cursor:pointer;
	width:25px;
	height:25px;
	text-align:center;
	line-height:25px;
	margin:0 2px;
}
.pro-quan h4{
	width:35px;
	height:35px;
	text-align:content;
	border:1px solid #666;
	margin-top: -5px;
	text-align: center;
	line-height: 35px;
	font-weight:bold;
}
.pro-quan i:hover{
	border:1px solid #AB0123;
	color:#AB0123;
}
.cart-social{
	margin-top:90px;
}
.social-buttons{
	margin:10px 0;
	font-size:15px;
	margin-left:20px;
}
.specification{
	margin-top:10px;
}
.mod-butn{
	background:#AB0123;
	border:2px solid #AB0123;
	color:#fff;
	font-weight:bold;
	padding:8px 6px;
	border-radius:3px;
	text-transform:capitalize;
	transition:all .5s;
}
.mod-butn:hover{
	background:rgba(0,0,0, .7);
	border:2px solid #AB0123;
	color:#AB0123;
}
/******************************
\**\\**\\**\\**\\**\\**\\**\\**
______________________________

		Cart Page
_______________________________
/**//**//**//**//**//**//**//**
******************************/
.cart{
	margin-top:140px;
}
.cart-quantity i{
	font-size:10px;
	line-height:.5;
	cursor:pointer;
	padding:10px 0;
}
.cart-quantity i:hover, .cart-cancle i:hover{
	color:#AB0123;
}
 .cart-cancle i{
	line-height:78px;
	cursor:pointer;
}
.cart-pic img {
    width: 55px;
    height: 60px;
	margin:0 auto;
}

.cart-plus{
	width:33.333%;
	float:left;
}
.total-cart-amount{
	border-top:1px solid #666;
	text-transform:capitalize;
}
.mod-btn{
	padding:10px 0;
}
.mod-btn a{
	text-decoration:none;
	text-transform:uppercase;
	padding:15px 20px;
	background:#AB0123;
	border:2px solid #AB0123;
	color:#fff;
	transition:all .5s;
	margin-right:20px
}
.mod-btn a:hover{
	background:#fff;
	color:#AB0123;
	font-weight:bold;
}
/******************************
\**\\**\\**\\**\\**\\**\\**\\**
______________________________

		Page Catergory
_______________________________
/**//**//**//**//**//**//**//**
******************************/
.filter{
	margin-top:140px;
}
.cate-hd-txt{
	margin-top:20px;
}
.cate-head{
	padding-bottom:50px;
}
.cate-head h2{
	font-size:25px;
	font-weight:bold;
	margin:0;
	text-transform:capitalize;
}
.sort{
}
.sort a{
	background:#efefef;
	padding:7px;
	text-transform:capitalize;
	color:#878787;
	text-decoration:none;
}
.sort span, .sort i{
	color:#000;
	font-weight:bold;
}
.sort span{
	padding-right:15px;
}
.sort i{
	padding-left:15px;
	color:#878787;
}
.filtering{
	background:#EFEFEF;
	padding-bottom:30px;
}
.filt-top{ 
	background:#000;
	padding:10px 0;
	margin-top:30px;
}
.filt-top h4{
	text-transform:uppercase;
	color:#fff;
}
.size{
	margin-top:20px;
}
.size h5{
	color:#AB0123;
	padding-left:15px;
	text-transform:capitalize;
	margin-bottom:20px;
}
.size input{
	max-width:225px;
	margin:0 auto;
}
.size option{
	text-transform:uppercase;
}
.range h5{
	color:#AB0123;
	padding-left:15px;
	text-transform:capitalize;
	margin-bottom:20px;
	margin-top:20px;
}
.range3{
	overflow:hidden;
}
.cart-btn{
	padding:50px 0;
}
/******************************
\**\\**\\**\\**\\**\\**\\**\\**
______________________________

		Page CheckOut
_______________________________
/**//**//**//**//**//**//**//**
********************+**********/
.check{
	margin-top:140px;
}
.check-top{}
.check-top h3{
	text-transform:capitalize;
	font-weight:bold;
}
.check-top span{
	text-transform:capitalize;
	font-weight:bold;
}
.check-top a{
	text-decoration:none;
	color:#AB0123;
}
.check input, .check textarea{
	border-radius:0;
	resize:none;
	text-transform:capitalize;
}
.check label{
	text-transform:capitalize;
}
.purchase{
	background:#F4F4F4;
	padding:10px 25px;
}
.check-price{
	border-bottom:1px solid #666;
}
.pur-head h5{
}
.card{
	padding:20px 0;
}
.card-txt{
	margin:0;
}
.card label{
	text-transform:capitalize;
	font-weight:100;
}
.card img{
	float:right;
	margin-left:15px;
}
.cart-btn a{
	padding:15px 30px;
	background:#AB0123;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
}
.register-btn{
	padding-top:20px;
	text-align:center;
}
.register-btn button{
	padding:10px 15px;
	background:#AB0123;
	border:2px solid#AB0123;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
}
/******************************
\**\\**\\**\\**\\**\\**\\**\\**
______________________________

		Log in
_______________________________
/**//**//**//**//**//**//**//**
********************+**********/
.log-pag{
	padding-top:70px;
}
.remember label{
	text-transform:uppercase;
}
.log-pag button{
	width:100%;
	padding:10px 0;
	text-transform:uppercase;
	font-weight:bold;
	background:#AB0123;
	border:2px solid#AB0123;
	color:#fff;
	margin-bottom:70px;
}